.githubCard {
    margin-bottom: 1rem;
}

.cardAvatar,
.timelineAvatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.cardAvatar {
    margin-right: 0.5rem;
}

.timelineItem {
    margin-top: 10px;
}

.timelineItem .eventDate {
    text-align: right;
}

.timelineItem .eventHeader {
    padding: 6px;
}

.timelineItem .eventType {
    text-transform: capitalize;
}

.timelineItem ul {
    padding: 0;
    list-style: none;
}

.timelineItem .issueLabel {
    background-color: rgb(237, 237, 237);
}

.timelineItemBody {
    margin-top: 0.5rem;
}

.toggleTimelineButton {
    margin-top: 1rem;
}

.issueLabel {
    display: inline-block;
    padding: 0.1rem 0.3rem;
    margin-right: 0.3rem;
    margin-top: 0.5rem;
    border-radius: 2px;
    font-weight: 400;
}

.issueLabelText {
    color: transparent;
    background: inherit;
    background-clip: text;
    filter: invert(1) grayscale(1) contrast(9);
}